.tag {

    display: flex;
    border: 1px rgba(0, 0, 0, 0.027) solid;
    width: auto;
    height: 30px;
    margin: 0px 0px 10px 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    background-color: rgba(43, 110, 255, 0.916);

}

.tag input {

    width: 20px;
    height: 20px;

}

.tag input:hover {

    cursor: pointer;

}

.tag label {

    font-size: 15px;
    font-family: sans-serif;
    vertical-align: middle;
    margin-left: 5px;
    font-style: oblique;
    color: white;

}