.tag-input-field{
    width: 100%;
    min-height: fit-content;
    display: grid;
    justify-content: left;
    align-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
}

.tag-input-field .tags-container{
    flex-grow: 3;
    display: flex;
    column-gap: 5px;
    width: fit-content;
    /* min-height: 60px; */
    /* max-height: 60px; */
    /* overflow-x: auto; */
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid #ccc; */
    row-gap: 5px;
    /* border-radius: 5px; */
    /* margin-bottom: 5px; */
}

.tag-input-field .tag{
    min-width: fit-content;
    width: fit-content;
    background-color: var(--gray-100);
    border-radius: 6px;
    padding: 6px 8px;
}

.tag-input-field .tag button{
    margin-left: 4px;
    padding: 2px;
    background-color: transparent;
    border: none;
}

.tag-input-field .tag .tag-type,
.tag-input-field .autocomplete .tag-type{
    padding: 4px;
    border-radius: 5px;
    background-color: var(--tag-type-1);
    color: var(--white);
    margin-left: 4px;
}

.tag-input-field .autocomplete .tag-type.userdefined{
    background-color: var(--tag-type-2);
}

.tag-input-field .tag-input{
    width: fit-content;
    min-width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
}

.tag-input-field .tag-input input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px 5px;
    margin: 0;
}

.autocomplete {
    position: relative;
    width: 300px;
}
  
.autocomplete .suggestions {
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.autocomplete .suggestions li {
    padding: 12px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.autocomplete .suggestions li:hover {
    background-color: #f0f0f0;
}
  