.personal-folder .details-pannel{
    /* margin-left: 10px; */
    /* padding: 10px; */
    width: 450px;
    height: 100%;
    transition: width 0.25s ease-in-out;
    background-color: var(--white);
}

.personal-folder .details-pannel .topbar{
    padding: 15px;
    font-size: var(--base-size-20);
    font-weight: 500; 
    /* background-color: var(--gray-50); */
    /* border-left: 1px solid var(--gray-400); */
}

.personal-folder .details-pannel .bottom{
    height: 100%;
}

.personal-folder .content-details{
    height: calc(100vh - 157px);
    display: grid;
    flex-direction: column;
    row-gap: 10px;
    grid-template-rows: min-content auto;
}

.personal-folder .content-details-top{
    margin-top: 10px;
}

.personal-folder .content-details-top .icon{
    width: 75%;
    max-width: 200px;
    margin: auto;
}

.personal-folder .content-details-top .icon img{
    width: 100%;
}

.personal-folder .content-details-bottom{
    height: 100%;
    padding: 0 20px;
    overflow-y: auto;
    margin: 0 10px;
}

.personal-folder .content-details-bottom .title{
    font-size: var(--base-size-16);
    font-weight: 600;
    /* color: var(--gray-600); */
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.personal-folder .content-details-bottom .title.large{
    font-size: var(--base-size-20);
}

.personal-folder .content-details-row{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.personal-folder .content-details-row.name{
    font-weight: 500;
    font-size: var(--base-size-24);
    justify-content: center;
}

.personal-folder .content-details-column{
    display: flex;
    flex-direction: column;
    /* row-gap: 5px; */
    margin-bottom: 10px;
}

.personal-folder .content-details-column .tags-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.personal-folder .content-details-column .tags-container .tag{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--gray-900);
    color: var(--white);
}

.personal-folder .content-details-column.name{
    font-size: var(--base-size-16);
}

.personal-folder .content-details-column dt.large{
    font-size: var(--base-size-16);
}

.personal-folder .content-details-column dt{
    font-size: var(--base-size-14);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.personal-folder .content-details-column dd{
    font-size: var(--base-size-16);
    color: var(--gray-600);
}

.personal-folder .content-details-row.justify{
    justify-content: space-between;
    column-gap: 20px;
}

.personal-folder .content-details-row.description dt::after{
    content: ":";
    margin: 5px;
}

.personal-folder .content-details-row.margin-bottom{
    margin-bottom: 5px;
}

.personal-folder .content-details-padding{
    padding-left: 15px;
    padding-right: 50px;
}

.personal-folder .content-details .content-details-column{
    width: 100%;
}

.personal-folder .content-details-column .collapse-icon-button{
    padding-left: 0;
}

.personal-folder .content-details-column>dt{
    margin-bottom: 5px;
}